.section-banners {
  position: relative;
  .banners-swiper {
    height: resp(584);
    @include _767 {
      height: resp(518, 360);
    }
    &__pagination {
      bottom: resp(16);
      @include _767 {
        bottom: resp(16, 360);
      }
      .swiper-pagination-bullet {
        margin: 0 resp(4);
        width: resp(8);
        height: resp(8);
        background-color: #E6E1F8;
        opacity: 1;
        transition: width .3s ease, background-color .3s ease;
        @include _767 {
          margin: 0 resp(4, 360);
          width: resp(8, 360);
          height: resp(8, 360);
        }
        &.swiper-pagination-bullet-active {
          width: resp(24);
          background-color: $primary;
          border-radius: resp(100);
          @include _767 {
            width: resp(24, 360);
            border-radius: resp(100, 360);
          }
        }
      }
    }
    &__slide {
      padding-top: resp(80);
      padding-bottom: resp(70);
      @include _767 {
        padding-top: resp(48, 360);
        padding-bottom: resp(16, 360);
      }
      .container {
        height: 100%;
        display: flex;
        align-items: center;
        @include _767 {
          align-items: flex-start;
          justify-content: center;
        }
      }
      &_wide {
        .banners-swiper__btn {
          font-size: resp(24);
          text-transform: uppercase;
          @include _767 {
            padding: resp(12, 360) resp(45, 360);
            font-size: resp(16, 360);
          }
        }
        .banners-swiper__title {
          font-size: resp(45);
          @include _767 {
            max-width: 85%;
            text-align: left;
            font-size: resp(24, 360);
          }
        }
        .banners-swiper__content {
          height: 100%;
          justify-content: space-between;
          @include _767 {
            width: 100%;
            height: auto;
            gap: resp(20, 360);
            align-items: flex-start;
            justify-content: flex-start;
          }
        }
      }
    }
    &__img-wrap {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-position: center bottom;
      object-fit: cover;
    }
    &__content {
      max-width: 50%;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: resp(8);
      @include _767 {
        align-items: center;
        max-width: 100%;
        gap: resp(8, 360);
      }
    }
    &__title {
      font-weight: 700;
      font-size: resp(40);
      text-transform: uppercase;
      @include _767 {
        text-align: center;
        font-size: resp(24, 360);
      }
    }
    &__text {
      margin-bottom: resp(16);
      line-height: 1.2em;
      @include _767 {
        margin-bottom: resp(16, 360);
        font-size: resp(16, 360);
        text-align: center;
      }
    }
    &__btn {
      padding: resp(12) resp(65);
      font-weight: 500;
      border-width: 1.5px;
      @include _767 {
        padding: resp(12, 360) resp(55, 360);
      }
    }
  }
}
