.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  border-radius: resp(8);
  overflow: hidden;
  box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s ease;
  @include interactive {
    &:hover {
      transform: scale(1.02);
    }
  }
  @include _767 {
    border-radius: resp(8, 360);
  }
  &__img-wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    height: resp(380);
    margin: 0 auto;
    @include _767 {
      height: resp(267, 360);
    }
  }
  &__img {
    min-height: 240px;
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: contain;
  }
  &__img-full-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    @include interactive {
      &:hover {
        cursor: zoom-in;
      }
    }
  }
  &__labels {
    top: resp(20);
    left: resp(20);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - resp(30));
    height: auto;
    align-items: center;
    gap: resp(8);
    z-index: 2;
    @include _767 {
      top: resp(16, 360);
      left: resp(16, 360);
      width: calc(100% - resp(16, 360));
      gap: resp(8, 360);
    }
  }
  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: resp(6) resp(20);
    font-size: resp(14);
    line-height: 1.2em;
    border-radius: resp(30);
    @include _767 {
      font-size: resp(12, 360);
      padding: resp(6, 360) resp(20, 360);
      border-radius: resp(30, 360);
    }
  }
  &__content-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: resp(8);
    align-items: flex-start;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: resp(20);
    background-color: #fff;
    @include _767 {
      gap: resp(8, 360);
      padding: resp(16, 360);
    }
  }
  &__category {
    color: #6C6C6C;
    line-height: 1.2em;
    font-size: resp(14);
    transition: color .3s ease;
    @include interactive {
      &:hover {
        color: $secondary;
      }
    }
    @include _767 {
      font-size: resp(14, 360);
    }
  }
  &__title {
    font-weight: 400;
    font-size: resp(16);
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    @include _767 {
      font-size: resp(16, 360);
    }
  }
  &__btn {
    margin-top: auto;
    width: 100%;
    align-self: center;
    line-height: 1.2em;
    @include _767 {
      padding: resp(15, 360) resp(10, 360);
      font-size: resp(16, 360);
      max-width: 100%;
    }
  }
}
