.slider-btn.swiper-button-disabled {
  pointer-events: none;
  opacity: .6;
}
.swiper__navigation-btn-icon {
  stroke: #925DE4;
  fill: transparent;
  transition: stroke .3s ease;
}
.swiper__navigation {
  display: flex;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: resp(24);
  z-index: 2;
}
.swiper__navigation-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: resp(48);
  height: resp(48);
  border: none;
  border-radius: 50%;
  background-color: rgba(230, 225, 248, 0.5);
  transition: background-color .3s ease;
  &-prev {
    left: 0;
    transform: translateX(calc(-100% - 20px));
  }
  &-next {
    right: 0;
    transform: translateX(calc(100% + 20px));
  }
  @include _767 {
    display: none;
  }
  &.swiper-button-disabled {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
  }
  &.swiper-button-lock {
    display: none;
  }
  @include interactive {
    &:hover {
      background-color: $secondary;
    }
    &:hover &-icon {
      stroke: #fff;
    }

  }
  &-icon {
    width: resp(24);
    height: resp(24);
    @include _767 {
      width: resp(24, 360);
      height: resp(14, 360);
    }
  }
}
