.section-information {
  .page-title {
    margin-bottom: resp(32);
    @include _767 {
      margin-bottom: 0;
    }
  }
  &__accordion-content {
    width: 100%;
  }
  &__accordion-item {
    .section-sertificates__swiper {
      width: 100%;
    }
    &_link .section-information__accordion-item-text::after {
      display: none;
    }
    &_link .section-information__accordion-item-text {
      cursor: initial;
      @include interactive {
        &:hover {
          color: #000;
        }
      }
      @include _767 {
        flex-direction: column;
        align-items: flex-start;
        gap: resp(20, 360);
      }
    }
    &-link {
      font-weight: 400;
      text-decoration: underline;
      text-underline-offset: resp(5);
      font-size: resp(16);
      line-height: 1.2em;
      transition: color .3s ease;
      @include _767 {
        font-size: resp(16, 360);
        text-underline-offset: resp(5, 360);
      }
      @include interactive {
        &:hover {
          text-decoration: underline;
          color: $secondary;
        }
      }
    }
  }
  &__programs {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: resp(8);
    @include _767 {
      gap: resp(12, 360);
    }
    &-item {
      list-style: none;
    }
    &-link {
      line-height: 1.2em;
      font-size: resp(16);
      color: #000;
      transition: color .3s ease;
      @include interactive {
        &:hover {
          color: $secondary;
        }
      }
      @include _767 {
        text-decoration: underline;
        text-underline-offset: resp(5, 360);
        font-size: resp(16, 360);
      }
    }
  }
}
