.lang-choose {
  &__radio-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__radio-btn-label {
    cursor: pointer;
    display: block;
    flex-basis: 50%;
    &:nth-child(2n-1) .lang-choose__radio-btn {
      border-right: 1px solid #925DE4;
    }
    &:last-child .lang-choose__radio-btn {
      border-right: none;
    }
    & input:checked + .lang-choose__radio-btn {
      background-color: #E6E1F8;
    }
  }

  &__radio-btn {
    padding: resp(4);
    display: flex;
    align-items: center;
    gap: resp(10);
    transition: background-color .3s ease;
    @include _767 {
      padding: resp(4, 360);
      gap: resp(10, 360);
    }
  }
  &__radio-icon {
    width: resp(40);
    height: resp(40);
    border-radius: resp(8);
    object-position: center;
    object-fit: cover;
    @include _767 {
      width: resp(40, 360);
      height: resp(40, 360);
      border-radius: resp(8, 360);
    }
  }
  &__radio-text {
    display: inline-block;
    font-size: resp(16);
    line-height: 1.3em;
    @include _767 {
      font-size: resp(16, 360);
    }
  }
}
