
.form-container {
  display: flex;
  align-items: flex-end;
  gap: resp(20);
  column-gap: resp(37);
  flex-wrap: wrap;
  @include _767 {
    gap: resp(11, 360);
  }
}
.form-textarea {
  resize: none;
  min-height: resp(138);
  @include _767 {
    min-height: resp(96, 360);
  }
}
.standart-form__before-submit-hint {
  margin-bottom: resp(12);
  font-weight: 500;
  font-size: resp(14);
  & a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  @include _767 {
    margin-bottom: resp(19, 360);
    font-size: resp(12, 360);
  }
}
.form-input {
  display: block;
  width: 100%;
  position: relative;
  padding: resp(13) resp(24);
  font-weight: 400;
  font-size: resp(16);
  font-weight: 300;
  border: none;
  border-radius: resp(8);
  color: #000;
  background-color: #F8F8F8;
  &::placeholder {
    color: #6C6C6C;
  }
  @include _767 {
    padding: resp(13, 360) resp(24, 360);
    font-size: resp(16, 360);
    border-radius: resp(8, 360);
  }
}

.form-btn {
  max-width: resp(369);
  width: 100%;
  font-weight: 500;
  transition: opacity .3s ease, transform .3s ease, background-color .3s ease;
  @include _767 {
    max-width: 100%;
  }
  &.disabled {
    opacity: .5;
    cursor: not-allowed;
    &::before {
      display: none;
    }
    @include interactive {
      &:hover {
        box-shadow: none;
        background-color: $secondary;
        transform: none;
      }
    }
  }
}

.input-wrap {
  position: relative;
  flex-basis: 100%;
  width: 100%;
  &.required::before {
    content: "*";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-75%);
    font-size: calc((20 / 1920)* 100vw);
    line-height: 1em;
    color: #ff0a0a;
  }
  & .form-input {
    width: 100%;
  }
  @include _767 {
    flex: none;
    width: 100%;
  }
  &_half {
    flex-basis: calc(50% - resp(19));
    @include _767 {
      flex-basis: 100%;
    }
  }
}

.form-checkbox {
  margin-left: resp(8);
  padding-left: resp(28);
  display: inline-block;
  position: relative;
  font-weight: 400;
  color: #CDBBFA;
  font-size: resp(16);
  line-height: 1.3em;
  @include _767 {
    margin-left: 0;
    padding-left: resp(28, 360);
    font-size: resp(13, 360);
  }
}
.form-checkbox div[agreementControl_JS] {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: flex-start;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.form-checkbox div[agreementControl_JS] label {
  cursor: pointer;
  position: relative;
  width: resp(18);
  height: resp(18);
  border-radius: resp(4);
  border: 1.5px solid #CDBBFA;
  background-color: transparent;
  @include _767 {
    width: resp(18, 360);
    height: resp(18, 360);
    border-radius: resp(4, 360);
    border: 1.5px solid #CDBBFA;
  }
}

.form-checkbox div[agreementControl_JS] label:after {
  cursor: pointer;
  content: '';
  background: url('../img/checkbox-true.webp') no-repeat center / cover;
  position: absolute;
  left: -20%;
  top: -20%;
  transform: scale(0);
  width: 140%;
  height: 140%;
  opacity: 0;
  transform-origin: 50%;
  transition: transform .3s ease, opacity .3s ease;
}

.form-checkbox div[agreementControl_JS].checked label:after {
  transform: scale(1);
  opacity: 1;
}

.form-checkbox div[agreementControl_JS] input {
  opacity: 0;
  visibility: hidden
}

.form-checkbox .agreement-link {
  position: relative;
  font-weight: 400;
  text-decoration: underline;
  line-height: 1.3em;
  text-underline-offset: resp(4);
  z-index: 1;
  color: #CDBBFA;
  transition: opacity .2s ease;
  @include interactive {
    &:hover {
      opacity: .8;
    }
  }
  @include _767 {
    text-underline-offset: resp(4, 360);
  }
}

.iti {
  --iti-path-flags-1x: url('./../img/intl-tel-input/flags.webp');
  --iti-path-flags-2x: url('./../img/intl-tel-input/flags@2x.webp');
  --iti-path-globe-1x: url('./../img/intl-tel-input/globe.webp');
  --iti-path-globe-2x: url('./../img/intl-tel-input/globe@2x.webp');
}

.iti__selected-dial-code {
  line-height: 1.3em;
  font-family: Gilroy, sans-serif;
  font-size: resp(16);
}
@media screen and (max-width: 767px) {
  .iti__selected-dial-code {
    font-size: calc((16 / 360)* 100vw);
  }
}
.iti {
  display: flex;
  align-items: center;
  width: 100%;
}
input[name="phone"]::placeholder {
  color: transparent;
}
input[name="phone"]:focus::placeholder {
  color: #dadada;
}
.iti .iti__selected-dial-code {
  margin-left: 0;
}


.subscribe-form {
  .form-container {
    column-gap: resp(20);
    row-gap: resp(8);
    @include _767 {
      flex-direction: column;
      align-items: center;
      width: 100%;
      row-gap: resp(16, 360);
    }
  }
  .form-label {
    width: resp(386);
    flex: 1;
    @include _767 {
      width: 100%;
    }
  }
  .form-btn {
    width: auto;
    @include _767 {
      margin-top: resp(8, 360);
      width: 100%;
      order: 3;
    }
  }
}
