.nice-select {
  display: flex;
  align-items: center;
  line-height: 1em;
  gap: resp(11);
  cursor: pointer;
  z-index: 2;
  @include font(Inter, 400, sans-serif);
  font-size: resp(16);
  position: relative;
  &::after {
    content: '';
    display: block;
    width: resp(12);
    height: resp(12);
    background: url('../img/icons/dropdown-icon.svg') no-repeat center / 100% auto;
    transition: transform .3s ease;
    @include _767 {
      width: resp(12, 360);
      height: resp(12, 360);
    }
  }
  &.open::after {
    transform: rotate(180deg);
  }
  & .list {
    display: flex;
    flex-direction: column;
    gap: resp(10);
    padding: resp(16);
    position: absolute;
    left: 50%;
    top: 98%;
    transform: translateX(-50%);
    width: max-content;
    z-index: 1;
    font-size: reps(16);
    border-radius: resp(8);
    background-color: #F8F8F8;
    transform-origin: 0 0;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .12);
    transition: opacity .3s ease, visibility .3s ease;
  }
  & .option {
    cursor: pointer;
    transition: color .3s ease;
    @include interactive {
      &:hover {
        color: $secondary;
      }
    }
  }
  &:where(:not(.open)) .list {
    opacity: 0;
    visibility: hidden;
  }
}
