.submenu {
  padding: resp(16);
  position: absolute;
  top: 99%;
  min-width: resp(130);
  width: max-content;
  z-index: 2;
  border-radius: resp(8);
  background-color: #F8F8F8;
  transform-origin: 0 0;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .12);
  transition: opacity .4s ease, visibility .3s ease, transform .3s ease;
  @include _992 {
    padding-left: 0;
    position: static;
    flex-basis: 100%;
    border-radius: 0;
    opacity: 1;
    visibility: visible;
    background: none;
    display: none;
  }
  @include _767 {
    width: 100%;
    padding-left: 0;
    background: transparent;
    box-shadow: none;
  }
  &:where(:not(.is-active)) {
    opacity: .0;
    visibility: hidden;
    @include _992 {
      opacity: 1;
      transform: scaleY(1);
      visibility: visible;
    }
  }
  &__link {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: resp(10) 0;
    font-size: resp(16);
    color: #000;
    line-height: 1.3em;
    outline: none;
    transition: color .3s ease;
    @include interactive {
      &:hover {
        color: $secondary;
      }
    }
    @include _767 {
      line-height: 1.35em;
      color: #6C6C6C;
      padding: resp(10, 360) 0;
      font-size: resp(16, 360);
    }
  }
}
