.footer {
  padding: resp(48) 0;
  background-color: #221f8d;
  color: #fff;
  @include _767 {
    padding: resp(32, 360) 0 resp(100, 360);
  }
  &__top {
    padding-bottom: resp(25);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CDBBFA;
    @include _767 {
      padding-bottom: resp(25, 360);
      flex-direction: column;
      align-items: flex-start;
      gap: resp(16, 360);
      border: none;
    }
  }
  &__about {
    max-width: resp(382);
    @include _767 {
      max-width: 100%;
    }
    &-text {
      font-weight: 400;
      line-height: 1.2em;
      font-size: resp(24);
      @include _767 {
        font-size: resp(16, 360);
      }
    }
  }
  &__messengers {
    gap: resp(32);
    @include _767 {
      gap: resp(15, 360);
    }
  }
  &__messengers .messangers__link {
    width: resp(48);
    height: resp(48);
    @include _767 {
      width: resp(25, 360);
      height: resp(25, 360);
    }
  }
  &__logo {
    width: resp(114);
    @include _767 {
      width: resp(100, 360);
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: resp(122);
    padding-top: resp(40);
    @include _767 {
      gap: resp(56, 360);
      flex-direction: column;
      align-items: flex-start;
      padding-top: resp(20, 360);
    }
  }
  &__subscribe-wrap {
    max-width: resp(590);
    @include _767 {
      max-width: 100%;
      width: 100%;
    }
  }
  &__nav-wrap {
    width: 100%;
  }
}

.footer-nav  {
  position: relative;
  width: 100%;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: resp(20);
    justify-content: space-between;
    @include _767 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      column-gap: resp(16, 360);
      row-gap: resp(32, 363);
    }
  }
  &__item {
    @include _767 {
      width: 100%;
      &:nth-child(4) {
        order: 3;
      }
      &:nth-child(3) {
        order: 4;
      }
    }
  }
  &__link {
    margin-bottom: resp(8);
    color: #fff;
    font-weight: 500;
    @include _767 {
      margin-bottom: resp(8, 360);
      padding: resp(5, 360) 0;
      font-size: resp(16, 360);
    }
  }
  .submenu {
    padding: 0;
    position: static;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    @include _992 {
      display: block;
    }
    &__link {
      padding: resp(6) 0;
      color: #CDBBFA;
      font-weight: 400;
      @include interactive {
        &:hover {
          color: #fff;
        }
      }
      @include _767 {
        padding: resp(6, 360) 0;
      }
    }
  }
}
