.header {
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
  z-index: 3;
  // position: fixed;
  background-color: #f8f8f8;
  &.fixed {
    position: fixed;
  }
  &__lang {
    position: relative;
    .lang-choose {
      &__radio-buttons {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }
      &__radio-btn-label {
        width: 100%;
        display: flex;
        flex: none;
      }
      &__radio-btn-label:nth-child(2n-1) .lang-choose__radio-btn {
        border: none;
      }
      &__radio-btn {
        width: 100%;
        border-radius: resp(8);
        transition: background-color .3s ease;
        @include interactive {
          &:hover {
            background-color: #e6e1f8;
          }
        }
      }
    }
    &-dropdown-content {
      min-width: resp(222);
      padding: resp(16);
      position: absolute;
      top: 100%;
      transform: translateY(35%);
      right: 0;
      width: max-content;
      z-index: 1;
      gap: resp(4);
      border-radius: resp(8);
      background-color: #F8F8F8;
      transform-origin: 0 0;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .12);
      transition: opacity .3s ease;
      &:where(:not(.is-active)) {
        opacity: 0;
        visibility: hidden;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      line-height: 1em;
      gap: calc((11 / 1440)* 100vw);
      cursor: pointer;
      z-index: 2;
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: calc((16 / 1440)* 100vw);
      border: none;
      &::after {
        content: '';
        display: block;
        width: resp(12);
        height: resp(12);
        background: url('../img/icons/dropdown-icon.svg') no-repeat center / 100% auto;
        transition: transform .3s ease;
        @include _767 {
          width: resp(12, 360);
          height: resp(12, 360);
        }
      }
      &.is-active::after {
        transform: rotate(180deg);
      }
    }
    @include _767 {
      display: none;
      &_mob {
        display: block;
      }
    }
  }
  &__right-wrap {
    display: flex;
    align-items: center;
    gap: resp(20);
    @include _767 {
      gap: resp(10, 360);
    }
  }
  &__instagram-link, &__search-open {
    padding: resp(8);
    border: none;
    outline: none;
    height: resp(40);
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: auto;
      height: 100%;
      object-position: center;
      object-fit: contain;
      opacity: .75;
      transition: transform .3s ease, opacity .3s ease;
      @include _767 {
        height: 60%;
      }
    }
    @include interactive {
      &:hover img {
        transform: scale(1.03);
        opacity: 1;
      }
    }
    @include _767 {
      height: resp(48, 360);
    }
  }
  &__instagram-link {
    height: resp(44);
    @include _767 {
      display: none;
    }
  }
  &__mob-btns {
    display: none;
    @include _767 {
      display: flex;
    }
    padding-bottom: resp(16, 360);
    width: 100%;
    gap: resp(9, 360);
    & .catalog-mob-btn, & .header__marketplace-links-wrap_mob {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      flex: 1;
    }
    & .catalog-mob-btn {
      padding: resp(13, 360);
    }
    & .header__marketplace-links-btn_mob {
      width: 100%;
      background-color: transparent;
      border: 1.5px solid #221F8D;
      border-radius: 8px;
    }
  }
  &__mob-btn {
    display: none;
    @include _767 {
      display: flex;
    }
    flex-direction: column;
    z-index: 4;
    justify-content: center;
    border: none;
    outline: none;
    gap: resp(8, 360);
    width: resp(30, 360);
    height: resp(30, 360);
    &-line,
    &::before,
    &::after  {
      content: '';
      margin: 0 auto;
      display: block;
      justify-content: center;
      width: resp(20, 360);
      height: resp(1.5, 360);
      background-color: #6C6C6C;
      border-radius: resp(1.5, 360);
      transform-origin: 0 0;
      transition: transform .3s ease, width .3s ease, background-color .3s ease;
    }
    &-line {
      transform-origin: 100%;
      transform: scaleX(.75);
    }
    &::after {
      transform-origin: 100%;
      transform: scaleX(.5);
    }
    &.active {
      .header__mob-btn-line  {
        transform: scale(0);
      }
      &::after {
        transform: scale(1) rotate(45deg) translate(resp(-1, 360), resp(-1, 360));
      }
      &::before {
        transform: rotate(-45deg) translate(resp(-9, 360), resp(16, 360));
      }
    }
  }
  &__top {
    position: relative;
    z-index: 1;
    &-desk {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      left: 0;
      z-index: 0;
      gap: resp(36);
      padding: resp(20) 0;
      width: 100%;
      transition: background-color .3s ease;
      @include _767 {
        padding: resp(24, 360) 0 resp(16, 360);
        flex-wrap: wrap;
        gap: resp(24, 360);
      }
      &-mobile {
        padding: calc((24 / 360) * 100vw) resp(56, 360) calc((16 / 360) * 100vw) resp(16, 360);
        border-bottom: 1px solid #D9D9D9;
      }
    }
    &-mob {
      display: none;
      @include _767 {
        padding: resp(10, 360) 0;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__desk-wrap {
    display: flex;
    align-items: flex-start;
    @include _767 {
      display: none;
    }
  }
  &.fixed &__top {
    z-index: 1;
  }
  &.fixed &__bottom {
    background-color: $primary;
  }
   &-progress {
    position: absolute;
    top: calc(100% - 1.5px);
    left: 0;
    width: 100%;
    height: 1.5px;
  }
  &__logo {
    max-width: resp(115);
    display: block;
    width: 100%;
    @include _767 {
      max-width: resp(100, 360);
    }
  }
  .logo__img {
    width: 100%;
  }
  &__nav {
    @include _767 {
      display: none;
    }
  }
  &__mob-nav {
    @include _767 {
      display: block;
    }
  }
  &__mob-wrap {
    z-index: 1;
  }
  &__logo_mob {
    margin: 0;
    width: resp(54, 363);
    transition: opacity .3s ease, visibility .3s ease;
  }
  &__logo-fixed_mob {
    position: absolute;
    width: resp(54, 363);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
  }
  &__mob-contacts-wrap {
    margin-top: auto;
    width: 100%;
  }
  &__mob-wrap {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    z-index: 3;
    transform: translateX(5%);
    background-color: #F8F8F8;
    transition: transform .3s ease, opacity .3s ease, visibility .3s ease, background-color .3s ease, box-shadow .3s ease;
    &.open {
      opacity: 1;
      transform: translateX(0%);
      visibility: visible;
    }
  }
  &__search {
    position: relative;
    display: flex;
    &-close-btn {
      width: resp(30);
      height: resp(30);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border: none;
      outline: none;
      right: resp(15);
      top: 50%;
      transform: translateY(-50%);
      @include _767 {
        right: resp(12, 360);
        width: resp(20, 360);
        height: resp(20, 360);
      }
      & svg {
        width: resp(23);
        height: resp(23);
        fill: #000;
        @include _767 {
          width: resp(16, 360);
          height: resp(16, 360);
        }
      }
    }
    & .header__search-wrap {
      position: absolute;
      right: 0;
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);
      visibility: hidden;
      background-color: #f8f8f8;
      z-index: 1;
      transition: opacity .3s ease, visibility .3s ease;
      &.open {
        opacity: 1;
        visibility: visible;
      }
      @include _767 {
        padding: 0;
        position: absolute;
        top: calc(100% + resp(15, 360));
        right: resp(-40, 360);
        z-index: 3;
        transform: none;
        width: calc(100vw - resp(32, 360));
      }
    }
    &.open .header__search-wrap {
      opacity: 1;
      visibility: visible;
    }
    & input {
      color: #000;
      padding-right: resp(54);
      background-color: #f8f8f8;
      border: 1px solid #D9D9D9;
      border-radius: resp(8);
      width: 55vw;
      @include _767 {
        width: 100%;
        padding: resp(16, 360) 0 resp(17, 360) resp(25, 360);
      }
    }
  }
  &__mob-content {
    padding: resp(16, 360) resp(16, 360) resp(28, 360);
    display: flex;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    gap: resp(20);
    align-items: flex-start;
    width: 100%;
    @include _767 {
      gap: resp(20, 360);
    }
  }
  &-menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: resp(40);
    @include _767 {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      gap: resp(4, 360);
    }
  }
  &__bottom {
    position: relative;
    z-index: 0;
    padding: resp(7) 0;
    background-color: $primary;
    transition: background-color .2s ease;
    & .container {
      @include _767 {
        overflow: auto;
      }
    }
    &-wrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: resp(33);
      @include _767 {
        width: max-content;
        gap: 0;
        padding: resp(7, 360) resp(10, 360);
      }
    }
  }
  &__catalog-categories {
    flex: 1;
  }
  &__marketplace-links-wrap {
    position: relative;
    @include _767 {
      display: none;
      &_mob {
        display: block;
      }
    }
  }
  &__marketplace-links-btn {
    min-width: resp(177);
    padding: resp(12) resp(24);
    background-color: #CDBBFA;
    color: #221F8D;
    border-radius: resp(8);
    display: flex;
    line-height: 1.4em;
    justify-content: center;
    align-items: center;
    gap: resp(4);
    border: none;
    outline: none;
    gap: resp(9);
    transition: background-color .3s ease, color .3s ease;
    &::after {
      content: '';
      display: block;
      width: resp(10);
      height: resp(10);
      background: url('../img/icons/dropdown-blue.svg') no-repeat center / 100% auto;
      transition: transform .3s ease;
    }
    @include interactive {
      &:hover {
        background-color: #dccffe;
      }
    }
    &.is-active {
      background-color: #dccffe;
      &::before {
       display: none;
      }
      &::after {
        transform: rotate(180deg);
      }
    }
    @include _767 {
      padding: resp(13,360);
      gap: resp(9, 360);
      &::after {
        width: resp(14, 360);
        height: resp(14, 360);
      }
    }
  }
  &__lang-mob {
    display: flex;
    align-items: center;
    gap: resp(8, 360);
    border: none;
    outline: none;
    text-transform: uppercase;
    line-height: 1.2em;
    font-size: resp(16, 360);
    color: #6C6C6C;
    &::after {
      content: '';
      display: block;
      width: resp(24, 360);
      height: resp(24, 360);
      background: url('../img/icons/dropdown-grey.svg') no-repeat center / contain;
    }
  }
}

.catalog-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__link {
    width: 100%;
    padding: resp(5) resp(10);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: resp(8);
    font-weight: 400;
    line-height: 1.3em;
    color: #fff;
    border-radius: resp(8);
    background-color: transparent;
    transition: background-color .2s ease;
    @include _767 {
      padding: resp(7, 360) resp(10, 360);
      gap: resp(0);
      font-size: resp(16, 360);
      border-radius: resp(8, 360);
    }
    &-icon {
      height: auto;
      min-width: resp(28);
      @include _767 {
        display: none;
      }
    }
    @include interactive {
      &:hover {
        background-color: $secondary;
      }
    }
  }
}


.marketplace-links {
  padding: resp(16);
  position: absolute;
  top: 106%;
  min-width: 100%;
  width: max-content;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: resp(4);
  border-radius: resp(8);
  background-color: #F8F8F8;
  transform-origin: 0 0;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .12);
  transition: opacity .4s ease, visibility .3s ease, transform .3s ease;
  &__item {
    width: 100%;
  }
  &__link {
    padding: resp(4);
    width: 100%;
    display: flex;
    align-items: center;
    gap: resp(10);
    border-radius: resp(8);
    transition: background-color .3s ease;
    @include _767 {
      font-size: resp(16, 360);
      padding: resp(4, 360);
      gap: resp(10, 360);
      border-radius: resp(8, 360);
    }
    &-img {
      display: block;
      width: resp(40);
      height: resp(40);
      object-position: center;
      border-radius: resp(8);
      @include _767 {
        width: resp(40, 360);
        height: resp(40, 360);
        border-radius: resp(8, 360);
      }
    }
    @include interactive {
      &:hover {
        background-color: #E6E1F8;
      }
    }
  }
  @include _767 {
    max-width: 80vw;
    padding-left: resp(28, 363);
    left: auto;
    right: 0;
    padding: resp(16, 360);
    gap: resp(4, 360);
    border-radius: resp(8, 360);
  }
  &:where(:not(.is-active)) {
    opacity: .0;
    visibility: hidden;
  }
}

.catalog-mob-menu {
  position: fixed;
  left: -100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  z-index: 5;
  // transform: translateX(-5%);
  background-color: #F8F8F8;
  transition: transform .3s ease, opacity .3s ease, visibility .3s ease, background-color .3s ease, box-shadow .3s ease;
  &.open {
    opacity: 1;
    transform: translateX(100%);
    visibility: visible;
  }
  &__title-link {
    color: #000;
  }
  & .header__top-desk-mobile {
    padding-right: resp(16, 360);
  }
  & .submenu {
    display: block;
  }
  &__close, &__back {
    width: resp(42, 360);
    height: resp(42, 360);
    display: flex;
    align-items: center;
    border: none;
    &-icon {
      margin-left: auto;
      width: resp(42, 360);
      height: resp(42, 360);
      object-fit: contain;
      object-position: right center;
    }
  }
  &__back {
    &-icon {
      margin-left: 0;
      width: resp(28, 360);
      height: resp(28, 360);
    }
  }
  &__content {
    width: 100%;
    padding: resp(24, 360) resp(16, 360) resp(32, 360);
    max-height: 100%;
    height: 100%;
    overflow: auto;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: resp(8, 360);
  }
  &__item {
    height: resp(220, 360);
  }
  &__btn {
    width: 100%;
    height: 100%;
    position: relative;
    padding: resp(20, 360) resp(16, 360);
    border: none;
    border-radius: resp(8, 360);
    display: flex;
    font-size: resp(16, 360);
    line-height: 1.2em;
    font-weight: 500;
    flex-direction: column;
    &-img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      max-height: 80%;
      object-fit: contain;
      object-position: right bottom;
    }
  }
  &__submenu {
    @extend .catalog-mob-menu;
    left: 100%;
    // transform: translateX(5%);
    &.open {
      opacity: 1;
      transform: translateX(-100%);
      visibility: visible;
    }
    & .header__top-desk-mobile {
      gap: resp(8, 360);
    }
    & .catalog-mob-menu__title-link {
      margin-right: auto;
    }
  }
}

.catalog-mob-submenu {
  &__content {
    padding: resp(28, 360) resp(16, 360) resp(32, 360);
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  &__menu {
    gap: resp(26, 360);
    & .menu__link {
      text-align: left;
      flex: 1;
      border: none;
    }
    & .menu__dropdown-btn {
      font-size: resp(16, 360);
      font-weight: 500;
      justify-content: space-between;
    }
  }
}
