.section {
  margin-bottom: resp(80);
  @include _767 {
    margin-bottom: resp(50, 360);
  }
  &-title-wrap {
    margin-bottom: resp(16);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include _767 {
      margin-bottom: resp(16, 360);
      flex-wrap: wrap;
      gap: resp(5, 360);
    }
  }
  &-title {
    @include font(Proxima Nova, 400, sans-serif);
    font-size: resp(40);
    color: #000;
    line-height: 1.2em;
    &.center {
      text-align: center;
    }
    @include _767 {
      // margin-bottom: resp(16, 360);
      font-size: resp(24, 360);
      // font-weight: 600;
    }
  }
}
