.section-products-swiper {
  &__title-wrap {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: resp(16);
    position: relative;
    @include _767 {
      margin-bottom: resp(16, 360);
    }
  }
  &__title {
    position: relative;
    display: block;
    max-width: 75%;
    font-size: resp(40);
    @include font(Proxima Nova, 400, sans-serif);
    line-height: 1.2em;
    font-weight: 400;
    text-align: center;
    color: #000;
    @include _767 {
      // font-weight: 600;
      text-align: left;
      font-size: resp(24, 360);
    }
  }
  &__catalog-link {
    font-size: resp(16);
    font-weight: 500;
    line-height: 1.3em;
    color: #000;
    text-decoration: underline;
    text-underline-offset: resp(4);
    transition: color .2s ease;
    @include interactive {
      &:hover {
        text-decoration: underline;
        color: $secondary;
      }
    }
    @include _767 {
      font-size: resp(16, 360);
      text-underline-offset: resp(4, 360);
    }
  }
  &__title-bg {
    position: relative;
    min-width: resp(438);
    transform: translateX(-8%);
    @include _767 {
      transform: translateX(-10%);
      min-width: 100%;
    }
  }
  &__swiper-wrap {
    .container {
      position: relative;
    }
  }
  &__swiper-navigation {
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 0;
    transform: translateY(-50%);

  }
  &__swiper {
    padding: 0 resp(5) resp(10);
  }
}
.section-popular .section-products-swiper__title-text {
  left: 11%;
  top: 28%;
}
