.btn-ghost {
  font-weight: 500;
  font-size: resp(16);
  line-height: 1.2em;
  padding: resp(12) resp(20);
  border-radius: resp(100);
  color: #221F8D;
  background-color: transparent;
  border: 1.5px solid #221F8D;
  transition: background-color .3s ease, color .3s ease, border-color .3s ease;
  @include interactive {
    &:hover {
      color: $white;
      background-color: #221F8D;
    }
  }
  @include _767 {
    padding: resp(12, 360) resp(20, 360);
    font-size: resp(16, 360);
    border-radius: resp(100, 360);
    border: resp(1.5, 360) solid #221F8D;
  }
}
